body{
    background-image: url("../images/questionbg1.jpg");
    
    
}

.siteContainer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.gameContainer{
    width: 100%;
    max-width: 960px;
    height: 700px;
    background-color: silver;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.75;
    
}

.jumbotron{
    height: 200px;
}

.display-4{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    
}


.timediv{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

.quesPlace{
    font-family: 'Coda', cursive;
    font-size: 40px;
}