body{
    background-image: url("../images/questionbg1.jpg");
    
    
}

.siteContainer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.gameContainer{
    width: 100%;
    max-width: 960px;
    height: 700px;
    background-color: silver;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.9;
    
}

.jumbotron{
    height: 200px;
}

.display-4{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    
}


.timediv{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}




.quesPlace{
    font-family: 'Coda', cursive;
    font-size: 40px;
}

.answerchoicesdiv{
    margin-top: 30px;
    font-family: 'Coda', cursive;
    font-size: 40px;
    
}

p:hover {
    background-color: yellow;
  }


.correctans{
    font-family: 'Coda', cursive;
    font-size: 40px;

}

.incorrectans{
    font-family: 'Coda', cursive;
    font-size: 40px;

}

.unanswered{
    font-family: 'Coda', cursive;
    font-size: 40px;

}

.results{
    font-family: 'Coda', cursive;
    font-size: 40px;
    margin-bottom: 30px;

}

.rightorwrong{
    font-family: 'Coda', cursive;
    font-size: 40px;
    

}


.score{
    font-family: 'Coda', cursive;
    font-size: 40px;
    margin-top: 30px;

}